#header{
    background-color: #d4e1f5;
    border: 2px solid #5389d6;
    min-height: 50px;
}

#header .header-brand{
    font-size: 18px;
    color: #151618;
    margin-left: 30px;
    display: inline-block;
    padding: 15px 0;
    text-decoration: none;
}

#header .header-form{
    display: inline-block;
    position: relative;
}

#header .header-form button{
    position: absolute;
    background: transparent;
    border: 0;
    width: 13px;
    height: 13px; 
    left: 7px;
    top: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/search-icon.png");
}

#header .header-form button:active{
    outline: none;
}

#header .header-form input{
    min-width: 206px;
    border: 2px solid #999999;
    border-radius: 20px;
    min-height: 22px;
    padding: 0 5px 0 20px;
}

#header .header-form input:focus{
    outline: none;
}

#header .navbar{
    display: inline-block;
}

#header .navbar-nav{
    list-style-type: none;
}

#header .nav-item{
    display: inline-block;
    margin-right:12px; 
}
#header .nav-item a{
    color: #0000ff;
    font-size: 16px;
}

#header .right-wrapper{
    float: right;
    margin-right: 6px;
}
