//   __   __        __   __   __  
//  /  ` /  \ |    /  \ |__) /__` 
//  \__, \__/ |___ \__/ |  \ .__/ 

$primary-color: #ffffff;
$primary-text: #414141;
$sidebar-background: cadetblue;
$header-background: #d4e1f5;
$header-border-color: #5389d6;
$primary-color: #ffffff;
$search-border-color: #999999;
$link-color: #0000ff;
$table-border-color: #cccccc;



//  ___  __       ___  __  
// |__  /  \ |\ |  |  /__` 
// |    \__/ | \|  |  .__/ 
$font-stack: Helvetica, sans-serif;
$font-size: 15px;
